<!doctype html>
<html>
    <head>
        <title>Twitmas</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        .tweet {
            color: #aaa;
        }

        .kw {
            font-weight: bold;
            font-size: 1.5em;
            color: #000;
        }
        footer {
            font-size: .8em;
            color: #ccc;
            border-top: 1px solid #ccc;
            margin-top: 1em;
        }
        </style>
    </head>
    <body>
        <a href="https://github.com/lukashed/twitmas/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <h1>Merry Twitmas!</h1>
        <div id="tweets"></div>
        <footer>
            <p>Made by <a href="http://lukasklein.com">Lukas</a> from the <a href="http://productgang.com">Product Gang</a></p>
        </footer>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script>
        $(function() {
            
            var chorus =    'Last Christmas \
                            I gave you my heart \
                            But the very next day you gave it away \
                            This year \
                            To save me from tears \
                            I\'ll give it to someone special';
                            
            var verse1 =    'Once bitten and twice shy \
                            I keep my distance \
                            But you still catch my eye \
                            Tell me baby \
                            Do you recognize me? \
                            Well \
                            It\'s been a year \
                            It doesn\'t surprise me \
                            I wrapped it up and sent it \
                            With a note saying, "I love you" \
                            I meant it \
                            Now I know what a fool I\'ve been \
                            But if you kissed me now \
                            I know you\'d fool me again';
                            
            var verse2 =    'A crowded room \
                            Friends with tired eyes \
                            I\'m hiding from you \
                            And your soul of ice \
                            My god I thought you were someone to rely on me? \
                            I guess I was a shoulder to cry on \
                            A face on a lover with a fire in his heart \
                            A man under cover but you tore me apart \
                            Now I\'ve found a real love you\'ll never fool me again';
                            
            var verse3 =    'A face on a lover with a fire in his heart \
                            A man under cover but you tore him apart \
                            Maybe next year I\'ll give it to someone \
                            I\'ll give it to someone special.';
                            
            chorus = chorus.split(' ');
            verse1 = verse1.split(' ');
            verse2 = verse2.split(' ');
            verse3 = verse3.split(' ');
            
            
            var words = chorus.concat(chorus, verse1, chorus, verse2, chorus, verse3);

            words.forEach(function(word){
                $('#tweets').append($('<div/>').attr('id', 'tweet_' + word).addClass('tweet'));
                $.get('/get_tweet', {
                    'keyword': word
                }, function(data, err) {
                    $('#tweet_' + word).append(data);
                });
            });
        });
        </script>
    </body>
</html>
